//link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
//link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(href='//fonts.googleapis.com/css?family=Josefin+Sans', rel='stylesheet')
    link(href='//fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
    link(href='/stylesheets/stylelogin.css', rel='stylesheet')
  body
    .w3ls-main
      .wthree-heading
        h1     
      .wthree-container
        .wthree-form
          .agileits-2
            h2 Login
          form(action='/login/verify', method='post')
            .w3-user
              span
                i.fa.fa-user-o(aria-hidden='true')
              input(type='text', name='username', placeholder='Username/ID', required='')
            .clear
            .w3-psw
              span
                i.fa.fa-key(aria-hidden='true')
              input(type='password', name='password', placeholder='Password', required='')
            .clear
            .w3l
              input(type='radio', name='type', value='User', checked='checked')
              label.ip1 User
              input(type='radio', name='type', value='Employee')
              label.ip2 Employee
            .clear
            .w3l-submit
              input(type='submit', value='Login')
            .clear
